.board {
  width: 180vmin;
  max-width: 500px;
  aspect-ratio: 1;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1%;
  background-color: #e6f2e6;
}

.tile {
  background-color: #144d6f;
  position: relative;
  border-radius: 6px;
}

.tile-label {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  pointer-events: none;
}

.boardWrapper {
  position: relative;
}

.tile-label.top {
  top: 6%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}

.tile-label.right {
  right: 6%;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.tile-label.bottom {
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.tile-label.left {
  left: 6%;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

.rotate-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 36px;
  height: 36px;

  border: none;
  border-radius: 8px;

  background-color: #ff9800;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.input-box {
  background-color: red;
  color: white;
  border: none;
  text-align: center;
  font-weight: bold;
  padding-block: 4px;
  padding-inline: 4px;
}

.input-box.top {
  writing-mode: horizontal-tb;
}

.input-box.bottom {
  writing-mode: horizontal-tb;
  transform: rotate(180deg);
}

.input-box.left {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.input-box.right {
  writing-mode: vertical-rl;
}

.middle-row {
  display: flex;
  align-items: center; 
}

.ready-btn {
  margin-top: 20px;
}