.container-box {
  width: 80vw;
  max-width: 500px;
  aspect-ratio: 1;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
  position: relative;
  background-color: #e6f2e6;
}

.tile {
  background-color: #144d6f;
  position: relative; 
}

.tile-label {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  pointer-events: none; 
}

.tile-label.top {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.tile-label.bottom {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.tile-label.left {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.tile-label.right {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.input-box {
  position: absolute;
  background-color: red;
  color: white;
  border: none;
  text-align: center;
  font-weight: bold;
  z-index: 10; 
}

.input-box.top {
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}

.input-box.bottom {
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}

.input-box.left {
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  width: 30%;
}

.input-box.right {
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  width: 30%;
}

.ready-btn {
  margin-top: 20px;
}

@media (max-width: 400px) {
  .input-box.top,
  .input-box.bottom {
    width: 50%;
  }

  .input-box.left,
  .input-box.right {
    width: 35%;
  }

  .tile-label {
    font-size: 0.7rem;
  }
}